/* 18. Contact */
.footer-area.footer {
    background: $footer;
    h5,
    p {
        color: $light;
    }
    .footer-copyright {
        span {
            color: $light;
        }
    }
}

.embed-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    @include phone(){
        padding-bottom: 300px;
    }
    @include tablet-and-desktop(){
        padding-bottom: 500px;
    }
}
.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-text {
    h5 {
        text-transform: inherit;
    }
    padding-bottom: 15px;
}

.into-icon {
    i {
        font-size: 20px;
        color: $primary-color;
        margin-right: 20px;
    }
}
.form-contact-details{
    @include tablet(){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .d-flex{
            width: 50%;
        }
    }
}
.contact-form{
    form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .left {
            width: 50%;
            padding-right: 20px;
            @include phone() {
                width: 100%;
                padding-right: 0;
            }
            input {
                width: 100%;
                border: 1px solid $border;
                padding: 12px 20px;
                margin-bottom: 20px;
            }
        }
        .right {
            width: 50%;
            @include phone() {
                width: 100%;
            }
            textarea {
                width: 100%;
                height: 190px;
                border: 1px solid $border;
                padding: 12px 20px;
                resize: none;
            }
        }
    }
}
.contact-form-button-wrapper{
    margin: 0 auto;
    @include phone(){
        padding-top: 20px;
    }
}