/* Admin */
.admin-panel {
  display: grid;
  align-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
  }
  @include phone {
    grid-template-columns: 1fr;
  }
  &-btn {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: $light !important;
    background: $primary-color;
    font-family: $heading-font;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 13px 24px !important;
    @include transition(all .5s);

    &:hover {
      color: $heading-text !important;
      background: transparent;
      border: 1px solid $primary-color;
    }
  }
  &-icon {
    text-align: center;
    padding: 25px;
  }
}
.search-form {
  padding-top: 8px;
  @include tablet-and-desktop() {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }
}
.search-field-wrapper {
  width: 100%;
  @include tablet-and-desktop() {
    margin-right: 25px;
  }
}
.search-button-wrapper {
  @include phone() {
    padding: 25px 0;
    text-align: center;
  }
}
.submit-button-wrapper{
  @include tablet-and-desktop(){
    width: 20%;
  }
  @include phone() {
    padding: 25px 0;
    text-align: center;
  }
}
.search-field {
  display: inline-block;
  margin: auto;
  width: 100%;
  border: solid 1px #4b4b4b;
  @include border-radius(3px);
  padding: 11px 20px;
}
.admin-navigate-buttons{
  padding-top: 35px;
  text-align: center;
  &-flex{
    @include tablet-and-desktop(){
      display: flex;
      justify-content: center;
      div{
        padding: 0 10px;
      }
    }
    @include phone(){
      div:not(:first-child){
        padding-top: 10px;
      }
    }
  }
}
.user-details-admin-panel{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  li{
    &:nth-child(2n+1){
      font-weight: bold;
    }
  }
}
.admin-pagination {
  padding: 25px 0;
  .page-link {
    border-radius: 0;
  }
  .page-item {
    border: none;
  }
}

.page-link {
  background: transparent;
  font-weight: 400;
}

.page-placeholder {
  padding: 0.5rem 0.25rem;
}

.admin-pagination .page-item.active .page-link {
  background-color: $primary-color;
  border-color: transparent;
  color:#fff;
}

.admin-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8a8a8a;
  border: none;
}


.admin-pagination .page-item:last-child .page-link,
.admin-pagination .page-item:first-child .page-link {
  border-radius: 0;
}

.admin-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: $primary-color;
  border-color: #eee;
}