/* 16. Form */
.classes-form, .coaches-form, .register-form{
  max-width: 800px;
  margin: 0 auto;
}
.change-password-form, .update-form, .schedule-form{
  max-width: 400px;
  margin: 0 auto;
}
.form-text{
  text-align: center;
  padding-bottom: 10px;
}
.form-field{
  margin: 5px auto;
  input[type=text], input[type=email], input[type=password], input[type=date], input[type=time]{
    width: 100%;
    padding: 5px;
  }
  label{
    width: 100%;
    text-align: left;
    display: block;
    font-weight: bold;
    margin: 0 auto;
  }
}
.form-field-flex{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  .form-field{
    width: 100%;
  }
}
.form-button{
  text-align: center;
  margin: 10px auto;
  input{
    cursor: pointer;
  }
}
.password-hint{
  font-weight: normal;
  font-size: 12px;
  text-align: left;
}
.error-wrapper{
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  background-color: $primary-color;
  color: $dark;
}
.form-field-select{
  width: 100%;
}
.form-text-area{
  width: 100%;
  height: 200px;
}
// Upload file button styling
.form-field-file{
  display: none;
}
.file-info{
  margin-left: 5px;
}
.browse-btn{
  cursor: pointer;
  color: $light!important;
  background: $primary-color;
  font-family: $heading-font;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  display: inline-block;
  padding: 10px 15px!important;
  @include border-radius(3px);
  @include transition(all .5s);
  &:hover {
    color: $heading-text!important;
    background: transparent;
    border: 1px solid $primary-color;
  }
}