/* 19. Login */
.login-text{
  text-align: center;
  padding-bottom: 10px;
}
.login-field{
  text-align: center;
  input{
    width: 300px;
    margin: 5px auto;
    padding: 5px;
  }
}
.login-button{
  text-align: center;
  margin: 10px 0;
  input{
    cursor: pointer;
  }
}
.login-link{
  color: $primary-color;
  @include transition(.4s);
  &:hover{
    color: $secondary-color;
  }
}