/* 17. Other */
.section-padding {
    padding: 130px 0;
}
.section-padding2 {
    padding-top: 130px;
}
.section-padding3 {
    padding-bottom: 130px;
}
.section-padding4 {
    padding: 65px 0;
}
.section-padding5 {
    padding-top: 65px;
}
.section-padding6 {
    padding-bottom: 65px;
}
.section-top {
    margin-bottom: 60px;
    p {
        font-style: italic;
    }
}
.section-margin-bottom{
    margin-bottom: 130px;
}
.img-responsive{
    width: 100%;
    height: auto;
}